.my-profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.my-profile_title {
    font-size: 24px;
}

.my-profile_text {
    font-size: 18px;
}

.my-profile_messages {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}